@charset "UTF-8";


/*========================== HEADER ============================*/

header{position:relative;}



/*============================= page item btn ===============================*/
.pagination {}

.page-item:first-child .link-arrow {}
	
.page-item:not(:first-child) .link-arrow {
	margin-left: -1px;
}

.page-item.disabled .link-arrow {
	color: #6c757d;
	pointer-events: none;
	background-color: #fff;
	border-color: #dee2e6;
}

.page-item.active .link-arrow {
	background: #000;
	z-index: 3;
	color: #fff;
	border-color: #000;
}

.link-arrow {
	position: relative;
	display: block;
	color: #000;
	text-decoration: none;
	padding: 0.375rem 0.75rem;
	background-color: transparent;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.form-label {
    margin-bottom: 0.5rem;
}

.form-input {
	display: block;
	width: 100%;
	padding: 0.75rem 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	border-bottom: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	background-color: #fff;
	
}

.logo {
    font-size: 25px;
}
.nav .nav-link {
    color: #fff !important;
    text-decoration: none;
}


.cont-height{
	min-height:600px;
}

.cardImg{
	position: relative;
    overflow: hidden;
    height: 330px;
    }
    
    
.cardImg img {
	
}
.card-title{font-size:17px; font-weight:400;}
.card-text{    
	font-size: 15px;
	width: 245px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    
    
.cart-date{ font-size:13px;}


/*======================== FOOTER =============================*/



.footer {
    padding: 4rem 0;
}

.footer .footer-wrap ul {
    display: flex;
}
.footer .footer-wrap > * {color:#fff;}
.footer .footer-wrap ul li {}

.footer .footer-wrap ul li ~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: #adadad;
    margin: 0 0.75rem;
}

.footer .footer-wrap ul li a {
    font-size: 15px;
    font-weight: 400;
    color:#FFF;


}

.footer-wrap .footer-copy {
    font-size: 11px;
    margin-top: 30px;
}

